"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 18
  "exception-reporting":
    userId: "7954abe0-cbe1-939e-46a9-0b20ea687606"
